@import url('https://fonts.googleapis.com/css?family=Bitter|Darker+Grotesque|Muli:200,300,400,600&display=swap');

* {
    box-sizing: border-box;
}
html, body {
   margin: 0;
}

body {
   background-color: #DAD8C9;
}

.container {
    width: 100%;
    height: 100%;
    padding: 25px;
}

.page__header {
    background-color: #1D3752;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background:
        linear-gradient(
        rgba(0, 0, 0, 0.85), 
        rgba(0, 0, 0, 0.85)
        ), url('./images/kari-shea-1SAnrIxw5OY-unsplash.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

a {
    color: #E0D15E;
    text-decoration: none;
}

a:hover {
    color: #C36629;
}

.page__header > h1 {
    color: #DAD8C9;
    font-family: 'Muli', sans-serif;
}

.header__emphasis {
    color: #C36629;
}

.page__header > h2 {
    color: #DAD8C9;
    font-family: 'Muli', sans-serif;
}

.header__social {
    display: flex;
    justify-content: center;
}

.header__social__item {
    transition: transform .2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    margin: 20px;
}

.header__social__item:hover {
    transform: translateY(-5px);
}

.header__social__item:hover .header__social__item__link {
    transform: scale(1.25);
}

.header__social__item__link {
    transition: transform .2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    display: block;
    width: 35px;
}

.header__social__item__link > svg > g > path {
    transition: all 0.2s;
}

.header__social__item__link:hover svg > g > path {
    fill: #C36629;
}

ul {
   list-style-type: none;
   padding: 0;
   margin: 0;
}

nav {
   background-color: #1D3752;
   display: flex;
   justify-content: center;
   transition: top 0.2s ease-in;
   height: 50px;
   z-index: 500;
   border-bottom: 1px solid #E0D15E;
}

.sticky-nav {
    position: fixed;
    width: 100%;
    top: -50px;
    left: 0;
}

.active-nav {
    top: 0;
}

.navbar {
   display: flex;
   justify-content: space-between;
   width: 100%;
   max-width: 900px;
   background-color: #1D3752;
}

.navbar > li {
    padding: 20px;
}

.navbar__item {
   color: #E0D15E;
   display: flex;
   width: 100%;
   height: 100%;
   align-items: center;
   justify-content: center;
   font-size: 26px;
   font-family: 'Darker Grotesque', sans-serif;
   text-decoration: none;
   transition: color 0.2s;
}

.navbar__item:hover {
   color: #C36629;
}

.navbar__item--spaced-letters {
    letter-spacing: 3px;
}

.content>:nth-child(even) {
    font-family: 'Muli', sans-serif;
    background-color: #1D3752;
    color: #F5F5F5;
}

.content>:nth-child(odd){
    font-family: 'Muli', sans-serif;
    background-color: #DAD8C9;
    color: #212121;
}

.page {
    width: 100%;
    min-height: 100vh;
}

.page h1, h2 {
    font-family: 'Bitter', serif;
    text-align: center;
    margin: 0;
    padding-top: 76px;
}

.portfolio__content__year > h2 {
    padding-bottom: 15px;
    border-bottom: 1px solid #E0D15E;

}

.portfolio__timeline {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100px;
    border-bottom: 1px solid #E0D15E;
    background-color: #1D3752;
    padding-bottom: 25px;
}
.portfolio__timeline__line {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    width: 80vw;
    z-index: 0;
}

.portfolio__timeline__marker {
    width: 16px;
    height: 16px;
    background-color: #C36629;
    border-radius: 50%;
    position: relative;
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    cursor: pointer;
}

.portfolio__timeline__marker:hover {
    background-color: #C36629 !important;
}

.portfolio__timeline__marker.marker-active {
    background-color: #C36629;
}


.portfolio__timeline__marker::before, .portfolio__timeline__marker::after {
    content: "";
    display: block;
    position: absolute;
    top: calc(50% - 1px);
    height: 3px;
    width: 10vw;
    z-index: -1;
    background-color: #C36629;
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.marker-active::after {
    background-color: #E0D15E;
}

.marker-active::before {
    background-color: #C36629;
}

.marker-active ~ .portfolio__timeline__marker,
.marker-active ~ .portfolio__timeline__marker::before,
.marker-active ~ .portfolio__timeline__marker::after {
    background-color: #E0D15E;
}


.portfolio__timeline__marker::before {
    left: calc(-10vw + calc(25px / 2));
}
.portfolio__timeline__marker::after {
    left: calc(25px / 2);
}

.portfolio__timeline__marker > span::before {
    content: attr(data-year);
    top: -40px;
    left: -3px;
    position: absolute;
    color: #E0D15E;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 20px;
    transform: rotate(-45deg);
}

.portfolio__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.portfolio__content__year {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: opacity 2s cubic-bezier(0.19, 1, 0.22, 1);
    max-width: 1200px;
}

.portfolio__content__item {
    margin-bottom: 50px;
    width: 100%;
}

.portfolio__content__item > div {
    margin: 10px 0;
    width: 100%;
}
.portfolio__content__item > div > img {
    width: 100%;
    height: auto;
}

.portfolio__content__item h3 {
    font-family: 'Bitter', serif;
    letter-spacing: 3px;
}

.portfolio__content__item p {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 20px;
}

.portfolio__content__item__title {
    font-family: 'Bitter', serif;
    font-size: 16px;
}

.sticky-timeline {
    position: fixed;
    width: 100%;
    top: -100px;
    left: 0;
    transition: top .5s cubic-bezier(.32,.47,.46,1);
    z-index: 100;
}

.active-timeline {
    top: 50px;
    display: flex;
}

.portfolio__carousel__year {
    font-size: 48px;
    color: #E0D15E;
    padding: 75px 0;
}


.portfolio__carousel {
    font-family: 'Muli', sans-serif;
    max-width: 1000px;
    margin: 0 auto 25px auto;
    color: #212121;
    position: relative;
}

.portfolio__carousel__container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    perspective: 1000px;
}

.portfolio__carousel::before {
    display: block;
    content: "";
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #E0D15E;
    height: 15px;
    top: 15px;
}

.portfolio__carousel__header {
    background-color: #F6F9FC;
    padding: 50px 50% 25px 50px;
    font-size: 18px;
    font-weight: 200;
    transition: height 0.3s ease-in-out;
    overflow: hidden;
}

.portfolio__carousel__header__title {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.portfolio__carousel__header__title > h2 {
    font-family: 'Muli', sans-serif;
    font-size: 36px;
    padding: 0;
    margin: 0;
    text-align: left;
    font-weight: 600;
    margin-right: 20px;
}

.portfolio__carousel__header__project-type {
    display: flex;
    align-items: center;
    height: 30px;
    background: linear-gradient(180deg, #F0E695 0%, #E0D15E 100%);
    border-radius: 5px;
    font-size: 18px;
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 300;
    margin: 15px 0;
}


.portfolio__carousel__header__tech__title {
    font-weight: 400;
}

.portfolio__carousel__content {
    background-color: #FFFFFF;
    padding: 50px 50% 50px 50px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    transition: height 0.3s ease-in-out;
    overflow: hidden;
}

.portfolio__carousel__content > h3 {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.portfolio__carousel__content__description {
    color: #4D4D4D;
    font-weight: 300;
    line-height: 1.7;
}

.portfolio__carousel__content__links {
    margin: 25px 0 0 0;
    text-transform: uppercase;
}

.portfolio__carousel__content__links a {
    color: #C36629;
    margin-right: 15px;
}

.portfolio__carousel__content__links a:visited {
    color: #BDBDBD;
}

.portfolio__carousel__content__links a:hover {
    color: #E0D15E;
}

.portfolio__carousel__content__image {
    width: 425px;
    position: absolute;
    left: 525px;
    top: 125px;
    border-radius: 5px;
    box-shadow: 0 6px 20px -2px rgba(50,50,93,.5),0 3px 7px -3px rgba(0,0,0,.3);
    transform-style: preserve-3d;
}

.portfolio__carousel__button {
    background-color: #F6F9FC;
    box-shadow: 0 6px 12px -2px rgba(50,50,93,.25),0 3px 7px -3px rgba(0,0,0,.3);
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-indent: -9999px;
    cursor: pointer;
    z-index: 1;
    position: absolute;
    top: 75px;
    padding: 0;
    overflow: hidden;
    color: #404040;
    transition: all 0.2s ease-in-out;
    outline: none;
}

.portfolio__carousel__button:hover {
    transform: translateY(-2px);
    color: #808080;
    box-shadow: 0 6px 20px -2px rgba(50,50,93,.50),0 3px 7px -3px rgba(0,0,0,.3);
}

.portfolio__carousel__button--prev:hover {
    transform: translateY(-1px) scaleX(-1);
}

.portfolio__carousel__button::after {
    content: "\279C";
    position: absolute;
    text-indent: 0;
    top: 50%;
    font-size: 28px;
    left: 0;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);   
}

.portfolio__carousel__button--next {
    right: -18px;
}

.portfolio__carousel__button--prev {
    left: -18px;
    transform: scaleX(-1);
}

@media screen and (max-width: 1000px) {

    .portfolio__carousel__header, .portfolio__carousel__content {
        padding: 25px;
    }

    .portfolio__carousel__content__image {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .page__header h1, h2, h3 {
        text-align: center;
    }

    .page__header h1 {
        font-size: 26px;
    }

    .page__header h2 {
        font-size: 20px;
    }

    .navbar {
        justify-content: space-around;
    }

    .navbar > li {
        padding: 5px;
    }

    .navbar > li > a{
        font-size: 1.2rem;
    }

    .portfolio__content__item {
        max-width: 90vw;
    }

    .portfolio__carousel__header__title > h2 {
        text-align: center;
    }

    .portfolio__carousel__content__links {
        text-align: center;
    }

    .portfolio__carousel__header__title{
        flex-direction: column;
    }

  }
